/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
1. Refer to the design specs for the
   overall layout 
2. The image should line up with
   the sidebar in the section
   below

*/

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 1.3rem;
}

img {
   max-width: 100%;
}

h1 {
   font-size: 3rem;
   margin-top: 0;
}

.container {
   width: 80%;
   max-width: 1100px;
   margin: 0 auto;
}

.row {
   /* display: flex => flex container */
   display: flex;
   justify-content: space-between;
   gap: 2rem;
}

.col {
   /* these are now flex items */
   width: 100%;
}

.col + .col {
   margin-left: 30px;
}

/* --------------------------------------- */

.hero {
   padding: 100px 0;
   background-color: #23424a;
   color: #fff;
}

.hero__text {
   width: 62%;
}

.hero__img {
   width: 36%;
   align-self: center;
   /* object-fit: contain; */
}

.hero h1 {
   font-size: 48px;
   font: 'Roboto Black ';
}

.hero p {
   margin-bottom: 3em;
   font-size: 21px;
   font: 'Roboto Regular ';
}

/* ---------------------------------------------------------- */
.content {
   padding: 100px 0;
}

.wrap {
   flex-wrap: wrap-reverse;
}

.content__text {
   font-weight: 100;
   color: #3a3a3a;
   flex-basis: 300px;
   flex-grow: 999;
}

.context__paragraph {
   flex-basis: 150px;
   flex-grow: 1;
}

.aside {
   display: flex;
   flex-wrap: wrap;
   flex-basis: 200px;
   flex-grow: 1;
   align-items: start;
   min-width: 40%;
   text-align: center;
   background-color: #136c72;
   gap: 1rem;
   padding: 1rem;
   color: white;
}
.aside h2 {
   font: 'Roboto Black';
   font-size: 36px;
}

.aside p {
   margin-bottom: 1em;
}

/*---------------------------------------------------------- */

.btnLink {
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   color: #23424a;
   font-weight: 900;
   background-color: #38cfd9;
   padding: 0.75em 2em;
   border-radius: 100px;
}

.btn:hover,
.btn:focus {
   opacity: 0.75;
}
