*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: Roboto, sans-serif;
   font-size: 1.3rem;
   line-height: 1.6;
   color: #000;
}

img {
   max-width: 100%;
}

h1 {
   font-size: 3rem;
   margin-top: 0;
}

.container {
   width: 90%;
   margin: 0 auto;
}

.text {
   font-family: Roboto Regular;
   font-size: 21px;
   hyphens: auto;
   /* line-break: auto; */
}

/* ------------------------------------- */

.title {
   min-height: 660px;
   display: flex;
   align-items: center;
   padding-block: 3rem;
}

.title__container {
   margin: 0 auto;
   width: 90%;
   text-align: center;
}

.title__heading {
   font-family: Playfair Display, serif;
   font-size: 50px;
   line-height: 1.1;
   padding: 0 2rem;
   color: #824936;
}

.title__preheading {
   font-family: 'Roboto Light';
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 0.5rem;
}
/* ------------------------------------- */

.paragraph {
   padding: 3rem 0;
}

.paragraph__imgs--reverse {
   justify-content: flex-start;
}

.paragraph__title {
   font-family: Playfair Display, serif;
   font-size: 36px;
   text-align: center;
}

.paragraph__title--first {
   color: #824936;
}

/* ----------------------------------------------------- */

.dark {
   background-color: #222c2a;
   color: white;
}

.red {
   background-color: #824936;
   color: white;
}

.creme {
   background-color: #f3eed9;
}

.white {
   color: #000;
}

/* ----------------------------------------------------- */

@media (min-width: 600px) {
   .container {
      max-width: 1128px;
      width: 80%;
   }

   .row {
      display: flex;
      gap: 3em;
   }
   .reverse {
      flex-direction: row-reverse;
   }

   /* ----------------------------------------------------- */

   .title__container {
      width: 60%;
   }

   .title__heading {
      font-size: 60px;
   }

   .paragraph__imgs {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      width: 100%;
   }

   .paragraph__text {
      width: 100%;
   }
}
